<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Survey Form</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel='stylesheet' type='text/css' href='{% static "surveys_app/style.css" %}' />
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <h1>Survey Form</h1>
    <form action="/surveys/process" id="survey" name='survey' method="POST">
      {% csrf_token %}
      <label>Your Name: </label><input type="text" name='name' placeholder='Micah Paul'><br>
      <label>Dojo Location: </label><input type="text" name='location' placeholder='Seattle'><br>
      <label>Favorite Language: </label><input type="text" name='language' placeholder='Python'><br>
      <label>Comment: </label><textarea form="survey" cols="30" wrap="soft" class="comment" name='comment'></textarea><br>
      <input class="btn" type="submit" value="Submit">
    </form>
  </body>
</html>