<!DOCTYPE html>
 <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Greeting</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="../static/css/style.css"> -->
     <link rel="stylesheet" href="{{ url_for( 'static', filename = 'css/style.css') }}"> 
  </head>
  <body>
    <h1>Dojos page peasants!!</h1>
    <form action="/result" method="post">
      <label>Your Name: </label> <input type="text" name="name"><br>
      <label>Location: </label> <input type="text" name="location"><br>
      <label>Favorite Language: </label> <input type="text" name="language"><br>
      <label>Comment (Optional): </label> <input type="text" class="comment" name="comment"><br>
      <input type="submit" class="submit" value="Submit">
    </form>
  </body>
</html>