* {
  padding: 0;
  margin: 0;
  /* outline: 1px dashed red; */
}
h1 {
  text-align: center;
  font-size: 30px;
  display: block;
  width: 600px;
  padding: 10px;
  margin: 40px 0;
  margin-left: 620px;
  background-color: mediumaquamarine;
}
.btn {
  text-align: center;
  font-size: 30px;
  display: inline-block;
  width: 600px;
  padding: 10px;
  margin: 40px 0;
  margin-left: 620px;
  background-color: grey;
  
}
table {
  display: inline-block;
  margin-left: 300px;
  width: 60%;
  border: thin solid teal;
}
tr, tbody, thead {
  display: inline-block;
  width: 100%;
  border: thin solid teal;
}
thead {
  background-color: mediumaquamarine;
}
td.item {
  display: inline-block;
  width: 49%;  
}
td.price {
  display: inline-block;
  width: 12.5%;  
}
td.action {
  display: inline-block;
  width: 37%;  
}
.btn-primary {
  margin-left: 30px;
  width: 50px;
}