<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Friends_Full</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <h1>Friends!</h1>
    <table>
      <thead>
        <td>Name: </td>
        <td>Age: </td>
        <td>Friend Since: </td>
      </thead>
      {% for result in results: %}
        <tr>
          <td>{{ result['name'] }}</td>
          <td>{{ result['age'] }}</td>
          <td>{{ result['create_date'] }}</td>
          <td>{{ result['year'] }}</td>
        </tr>
      {% endfor %}
    </table>
    <h1>Add a Friend: </h1>
    <form action='/process' method='POST'>
      <label for="name">Name: <input type="text" name="name" id="name"></label>
      <label for="age">Age: <input type="text" name="age" id="age"></label>
      <input type="submit" value="Add">
    </form>
  </body>
</html>